body {
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(to right, #fddde6, #ffe6f0);
  text-align: center;
  padding: 20px;
}

button {
  background-color: #b76e79;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#gallery img, #gallery video {
  margin: 10px;
  border-radius: 10px;
}